.nav-item {
    padding: 10px;
}

.navbar-expand-sm {
    justify-content: center;
}

.title {
    text-align: center;
    word-wrap: break-word;
    border-style: solid;
    border-color: black;
}

.description {
    text-align: center;
    word-wrap: break-word;
}

.list-group-item {
    text-align: center;
    background-color: lightyellow;
    border-color: black;
}

.comment {
    text-align: center;
    word-wrap: break-word;
}

.card {
    margin-bottom: 10px;
    background-color: aliceblue;
}

.children {
    padding-left: 50px;
    padding-top: 10px;
}

#id_comment {
    margin-top: 10px;
    padding-bottom: 10px;
}

#lower_comment_button {
    padding-bottom: 40px;
}

#title {
    background-color: aliceblue;
}

#votes {
    display: block;
    text-align: center;
}

#tread-container {
    background-color: lightgoldenrodyellow;
}